<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
<body class="text-center" style="background-color: #f28a8a;">
  <div class="card p-3" style="width: 18rem; border-radius: 8px; margin: auto; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
    <img src="/static/assets/img/logo.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Inicia sesi&oacute;n con Google</h5>
      <a class="btn btn-outline-dark" href="/login" role="button" style="text-transform:none">
        <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in"
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
          Inicio sesi&oacute;n con Google
      </a>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
        </script>
    </div>
  </div>
</body>
</html>